@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    max-width: 100%;
    max-height: 100%;
}
.card-startup {
    width: 350px;
    height: 460px;
    background-color: #1e293b;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 0px 7px #38bff829;
}


.event-two {
    width: 60%;
}

.event-one {

    width: 40%;
}



.card-startup:hover {
    transition: 0.7s;
    box-shadow: 0px 0px 20px #38bff841;
}


.events_card {
    width: 440px;
    height: 300px;
    background-color: #334155;
    border-radius: 35px;
}


.links:hover {
    color: #38bdf8;
    transition: 0.4s;
}

.startup_btn {
    padding:0.5rem 1.5rem;
    border-radius: 7px; 
    background: #38bdf8;
    box-shadow:  0px 0px 5px #38bdf8 , 0px 0px 10px #1e40af;
    margin-top: 1rem;
}